<div>
    <h2 data-translate="helpcenterApp.chamado.home.title">Chamados</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="chamado.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="helpcenterApp.chamado.home.createLabel">
                        Create new Chamado
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="helpcenterApp.chamado.status">Status</span></th>
                    <th><span data-translate="helpcenterApp.chamado.empresa">Empresa</span></th>
                    <th><span data-translate="helpcenterApp.chamado.problema">Problema</span></th>
                    <th><span data-translate="helpcenterApp.chamado.descricao">Descricao</span></th>
                    <th><span data-translate="helpcenterApp.chamado.severidade">Severidade</span></th>
                    <th><span data-translate="helpcenterApp.chamado.sugestao">Sugestao</span></th>
                    <th><span data-translate="helpcenterApp.chamado.email">Email</span></th>
                    <th><span data-translate="helpcenterApp.chamado.solucao">Solucao</span></th>
                    <th><span data-translate="helpcenterApp.chamado.anexo">Anexo</span></th>
                    <th><span data-translate="helpcenterApp.chamado.dataDeAbertura">Data De Abertura</span></th>
                    <th><span data-translate="helpcenterApp.chamado.dataDeFechamento">Data De Fechamento</span></th>
                    <th><span data-translate="helpcenterApp.chamado.solicitante">Solicitante</span></th>
                    <th><span data-translate="helpcenterApp.chamado.executante">Executante</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="chamado in vm.chamados track by chamado.id">
                    <td><a ui-sref="chamado-detail({id:chamado.id})">{{chamado.id}}</a></td>
                    <td data-translate="{{'helpcenterApp.Status.' + chamado.status}}">{{chamado.status}}</td>
                    <td data-translate="{{'helpcenterApp.Empresa.' + chamado.empresa}}">{{chamado.empresa}}</td>
                    <td data-translate="{{'helpcenterApp.Problema.' + chamado.problema}}">{{chamado.problema}}</td>
                    <td>{{chamado.descricao}}</td>
                    <td data-translate="{{'helpcenterApp.Severidade.' + chamado.severidade}}">{{chamado.severidade}}</td>
                    <td>{{chamado.sugestao}}</td>
                    <td>{{chamado.email}}</td>
                    <td>{{chamado.solucao}}</td>
                    <td>
                        <a ng-if="chamado.anexo" ng-click="vm.openFile(chamado.anexoContentType, chamado.anexo)">
                            <img data-ng-src="{{'data:' + chamado.anexoContentType + ';base64,' + chamado.anexo}}" style="max-height: 30px;"/>
                        </a>
                        <span ng-if="chamado.anexo">{{chamado.anexoContentType}}, {{vm.byteSize(chamado.anexo)}}</span>
                    </td>
                    <td>{{chamado.dataDeAbertura | date:'medium'}}</td>
                    <td>{{chamado.dataDeFechamento | date:'medium'}}</td>
                    <td>
                        {{chamado.solicitante.id}}
                    </td>
                    <td>
                        {{chamado.executante.id}}
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="chamado-detail({id:chamado.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="chamado.edit({id:chamado.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="chamado.delete({id:chamado.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
