
<div>
    <h2><span data-translate="helpcenterApp.chamado.detail.title">Chamado</span> {{vm.chamado.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="helpcenterApp.chamado.status">Status</span></dt>
        <dd>
            <span data-translate="{{'helpcenterApp.Status.' + vm.chamado.status}}">{{vm.chamado.status}}</span>
        </dd>
        <dt><span data-translate="helpcenterApp.chamado.empresa">Empresa</span></dt>
        <dd>
            <span data-translate="{{'helpcenterApp.Empresa.' + vm.chamado.empresa}}">{{vm.chamado.empresa}}</span>
        </dd>
        <dt><span data-translate="helpcenterApp.chamado.problema">Problema</span></dt>
        <dd>
            <span data-translate="{{'helpcenterApp.Problema.' + vm.chamado.problema}}">{{vm.chamado.problema}}</span>
        </dd>
        <dt><span data-translate="helpcenterApp.chamado.descricao">Descricao</span></dt>
        <dd>
            <span>{{vm.chamado.descricao}}</span>
        </dd>
        <dt><span data-translate="helpcenterApp.chamado.severidade">Severidade</span></dt>
        <dd>
            <span data-translate="{{'helpcenterApp.Severidade.' + vm.chamado.severidade}}">{{vm.chamado.severidade}}</span>
        </dd>
        <dt><span data-translate="helpcenterApp.chamado.sugestao">Sugestao</span></dt>
        <dd>
            <span>{{vm.chamado.sugestao}}</span>
        </dd>
        <dt><span data-translate="helpcenterApp.chamado.email">Email</span></dt>
        <dd>
            <span>{{vm.chamado.email}}</span>
        </dd>
        <dt><span data-translate="helpcenterApp.chamado.solucao">Solucao</span></dt>
        <dd>
            <span>{{vm.chamado.solucao}}</span>
        </dd>
        <dt><span data-translate="helpcenterApp.chamado.anexo">Anexo</span></dt>
        <dd>
            <div ng-if="vm.chamado.anexo">
                <a ng-click="vm.openFile(vm.chamado.anexoContentType, vm.chamado.anexo)">
                    <img data-ng-src="{{'data:' + vm.chamado.anexoContentType + ';base64,' + vm.chamado.anexo}}" style="max-width: 100%;"/>
                </a>
                {{vm.chamado.anexoContentType}}, {{vm.byteSize(vm.chamado.anexo)}}
            </div>
        </dd>
        <dt><span data-translate="helpcenterApp.chamado.dataDeAbertura">Data De Abertura</span></dt>
        <dd>
            <span>{{vm.chamado.dataDeAbertura | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="helpcenterApp.chamado.dataDeFechamento">Data De Fechamento</span></dt>
        <dd>
            <span>{{vm.chamado.dataDeFechamento | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="helpcenterApp.chamado.solicitante">Solicitante</span></dt>
        <dd>
            {{vm.chamado.solicitante.id}}
        </dd>
        <dt><span data-translate="helpcenterApp.chamado.executante">Executante</span></dt>
        <dd>
            {{vm.chamado.executante.id}}
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="chamado-detail.edit({id:vm.chamado.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
